#body-head{
    display: flex;
    align-items: center;
    text-align: center;
    height: 300px;
}

#text-title{
    display: flex;
    align-items: left;
    text-align: left;
    justify-content: center;
    font-size: x-large;
    flex-direction: column;
    font-size: small;
    color: black;
}

#btn-detail{
    border-radius: 50px;
    width: 300px;
    height: 50px;
    background-color: white;
    border: 1px solid #0D4A31;
    color: #0D4A31;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}

#btn-detail:hover{
    background-color: #0D4A31;
    color: white;
}

#nav-text {
    margin-right: 50px;
}
#nav-text1{
    margin-right: 30px;
    text-decoration: none;
    color: #0D4A31;
}

#nav-text1:hover{
text-decoration: underline;
}

#nav-text2{
    margin-right: 30px;
    text-decoration: none;
    color: #0D4A31;
}

#nav-text2:hover{
text-decoration: underline;
}

#nav-text3{
    margin-right: 30px;
    text-decoration: none;
    color: #0D4A31;
}

#nav-text3:hover{
text-decoration: underline;
}

#nav-text4{
    margin-right: 30px;
    text-decoration: none;
    color: #0D4A31;
}

#nav-text4:hover{
text-decoration: underline;
}

#nav-text5{
    margin-right: 30px;
    text-decoration: none;
    color: #0D4A31;
}

#nav-text5:hover{
text-decoration: underline;
}



#row-img{
    width: 33%;
    height: auto;
    align-items: center;
    background-color: #E7FEF4;
}

.image-container {
    position: relative;
}

.row-img {
    max-width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.btn {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#sign-in{
    border: 1px solid #0D4A31;
    background-color: white;
    color: #0D4A31;
    margin-left: 650px;
}

#sign-in:hover{
    background-color: #0D4A31;
    color: white;
}

#img-card{
    background-color: #E9FEF5;
}


.image-container {
    position: relative;
    display: inline-block;
}
.label {
    position: absolute;
    top: 10px; /* Sesuaikan posisi label secara vertikal */
    right: 10px; /* Sesuaikan posisi label secara horizontal */
    background-color: red; /* Warna latar belakang label */
    color: white;
    width: 20px; /* Lebar label */
    height: 20px; /* Tinggi label */
    border-radius: 50%; /* Agar label menjadi bulat */
    font-size: 12px; /* Ukuran font teks di dalam label */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Mengatur label di atas gambar */
}
.row-img {
    max-width: 100%; /* Lebar maksimum gambar */
    height: auto; /* Menjaga aspek rasio gambar */
    display: block;
}

#text-event{
    margin-bottom: 5px;
}

.map-container {
    display: flex;
    justify-content: center; /* Memusatkan secara horizontal */
    align-items: center; /* Memusatkan secara vertikal */
    height: 100vh; /* Menggunakan tinggi 100% dari viewport */
}

/* Iframe styling */
.map-container iframe {
    width: 80%; /* Lebar iframe */
    height: 80%; /* Tinggi iframe */
    border: 0;
}
